<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sns.invest.comment.dao.CommentDAO">
  	<select id="selectCommentListByPostIdType" parameterType="map" 
 	resultType="com.sns.invest.post.model.Comment">
		SELECT 
			`id`
			, `type`
 			, `postId`
			, `userId`
 			, `userNickName`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
		FROM
			`comment`
		WHERE
			`postId` = #{postId}
			AND `type` = #{type}
		ORDER BY `id` DESC
 	</select>
 	
 	<insert id="insertComment" parameterType="map">
 		INSERT INTO `comment`
 		( 
 			`type`
 			, `postId`
 			, `userId`
 			, `userNickName`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
		)
		VALUES 
		(
			#{type}
			, #{postId}
			, #{userId}
			, #{userNickName}
			, #{content}
			, now()
			, now()
		)
	</insert>
 	 	
</mapper>