<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="com.sns.invest.post.dao.PostDAO">
 	<insert id="insertInvestPost" parameterType="map">
 		INSERT INTO `invest_post`
 		(
 			`userId`
 			, `userNickName`
 			, `investStyle`
 			, `stockItemName`
 			, `investmentOpinion`
 			, `investmentProcess`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES (
 			#{userId}
 			, #{userNickName}
 			, #{investStyle}
 			, #{stockItemName}
 			, #{investmentOpinion}
 			, #{investmentProcess}
 			, #{content}
 			, #{imagePath}
 			, now()
 			, now()
 		)
 	</insert>
 	
 	 <select id="selectInvestPostList" resultType="com.sns.invest.post.model.invest.InvestPost">
 		SELECT 
 			`id`
 			, `userId`
 			, `userNickName`
 			, `investStyle`
 			, `stockItemName`
 			, `investmentOpinion`
 			, `investmentProcess`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
		FROM 
			`invest_post`
		ORDER BY `id` DESC
 	</select>

	<select id="selectInvestPostListByUserId" resultType="com.sns.invest.post.model.invest.InvestPost">
 		SELECT 
 			`id`
 			, `userId`
 			, `userNickName`
 			, `investStyle`
 			, `stockItemName`
 			, `investmentOpinion`
 			, `investmentProcess`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
		FROM 
			`invest_post`
		WHERE
			`userId` = #{userId}
		ORDER BY `id` DESC
	</select>

	<select id="selectFilteredInvestPostList" resultType="com.sns.invest.post.model.invest.InvestPost">
 		SELECT 
 			`id`
 			, `userId`
 			, `userNickName`
 			, `investStyle`
 			, `stockItemName`
 			, `investmentOpinion`
 			, `investmentProcess`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
		FROM 
			`invest_post`
		
		<choose>
			<when test="investStyleForFiltering != ''">
			WHERE
				`investStyle` = #{investStyleForFiltering}
				<if test="stockItemNameForFiltering != ''">
 					AND `stockItemName` = #{stockItemNameForFiltering}
				</if>
				<if test="investmentOpinionForFiltering != ''">
		 			AND `investmentOpinion` = #{investmentOpinionForFiltering}
				</if>
				<if test="investmentProcessForFiltering != ''">
		 			AND `investmentProcess` = #{investmentProcessForFiltering}
				</if>
			</when>
			<when test="stockItemNameForFiltering != ''">
			WHERE
				`stockItemName` = #{stockItemNameForFiltering}
				<if test="investmentOpinionForFiltering != ''">
		 			AND `investmentOpinion` = #{investmentOpinionForFiltering}
				</if>
				<if test="investmentProcessForFiltering != ''">
		 			AND `investmentProcess` = #{investmentProcessForFiltering}
				</if>
			</when>
			<when test="investmentOpinionForFiltering != ''">
			WHERE
		 		`investmentOpinion` = #{investmentOpinionForFiltering}
				<if test="investmentProcessForFiltering != ''">
		 			AND `investmentProcess` = #{investmentProcessForFiltering}
				</if>
			</when>
			<when test="investmentProcessForFiltering != ''">
			WHERE
		 		investmentProcess` = #{investmentProcessForFiltering}
			</when>
		</choose>
			
			
		ORDER BY `id` DESC
	</select>
 </mapper>