<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.sns.invest.post.dao.LikeDAO">
	
	<select id="selectCountLikeByPostIdType" parameterType="map" resultType="int">
		SELECT
			count(*)
		FROM
			`like`
		WHERE
			`postId` = #{postId}
			AND `type` = #{type}
	</select>
	
	<select id="selectCountLike" parameterType="map" resultType="int">
		SELECT 
			count(*)
		FROM
			`like`
		WHERE
			`postId` = #{postId}
			AND `userId` = #{userId}
			AND `type` = #{type}
	</select>
	
	<insert id="insertLike" parameterType="map">
		INSERT INTO `like`
		(
			`type`
			, `postId`
			, `userId`
			, `createdAt`
		) VALUES
		(
			#{type}
			, #{postId}
			, #{userId}
			, now()
		)
	</insert>
	
	<delete id="deleteLike" parameterType="map">
		DELETE FROM `like`
		WHERE 
			`type` = #{type}
			AND `postId` = #{postId}
			AND `userId` = #{userId}
	</delete>
	

</mapper>